<footer class="footer">
  <small>
    Bob Lou
  </small>
  <nav>
    <ul>
      <li><a href="http://www.zagat.com">Zagat</a></li>
      <li><a href="http://www.yelp.com">Yelp</a></li>
      <li><a href="http://www.seamless.com">Seamless</a></li>
    </ul>
  </nav>
</footer>